
*.jpg
*.shx
*.shp
*.prj
*.dbf
*.cpg
*.pyc
venv/
stored data/
JSON files/
road_mark_images/
shapefiles/
contours/
shape objects/

*.laz
auto.laz
webbased poc/pointclouds/pointcloud.txt
*.mtl
*.obj
*.laz
