<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point Cloud Viewer</title>
    
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        canvas {
            display: block;
        }
        .header {
            position: absolute; 
            top: 0; 
            left: 0;
            width: 100%; 
            text-align: center; 
            font-size: 2em; 
            padding: 10px; 
            background-color: rgba(65, 64, 64, 0.7); 
            z-index: 20; 
        }
        #buttonsPanel {
        position: absolute;
        left: 15px;
        top: 80px;
        z-index: 10;
        padding: 10px;
        background: #f0f0f0;
        border-radius: 10px; 
        background-color: rgba(75, 75, 75, 0.7); 
        width: 250px; 
        height: 250px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
        button {
            width: 230px; 
            margin: 10px 0; 
            padding: 10px 20px; 
            font-size: 1em; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #b8b8b8; 
            color: rgb(0, 0, 0); 

            text-align: center;
        }
        button.active {
            background-color: #505050a7; 
        }
        button.temporary-active {
            background-color: #505050a7; 
        }
    </style>
</head>
<body>
    <div class="header">Point cloud Web viewer</div>
    <div id="buttonsPanel">
        <button id="triangleMarkerBtn" class="one-time">Triangle Marker</button>
        <button id="complexShapeMarkerBtn" class="one-time">Complex Shape Marker</button>
        <button id="cancelBtn" class="one-time">Cancel</button>
        <button id="clearBtn" class="one-time">Clear</button>
    </div>
    <script>
        document.querySelectorAll('#buttonsPanel button.toggle').forEach(button => {
            button.addEventListener('click', function() {
              
                this.classList.toggle('active');
            });
        });

        document.querySelectorAll('#buttonsPanel button.one-time').forEach(button => {
            button.addEventListener('click', function() {
              
                this.classList.add('temporary-active');
              
                setTimeout(() => {
                    this.classList.remove('temporary-active');
                }, 200); 
            });
        });
    </script>

    <script type="module">
        import * as THREE from 'https://cdn.skypack.dev/three@0.128.0';
        import { OrbitControls } from 'https://cdn.skypack.dev/three@0.128.0/examples/jsm/controls/OrbitControls.js';
        import { MTLLoader } from 'https://cdn.skypack.dev/three@0.128.0/examples/jsm/loaders/MTLLoader.js';
        import { OBJLoader } from 'https://cdn.skypack.dev/three@0.128.0/examples/jsm/loaders/OBJLoader.js';

        //Global marker type variable
        let selectedMarkerType = '';
        //Global array to store loaded OBJ shapes
        let loadedObjShapes = [];
        let autoCheckForNewShapes = true;

        //scene setup
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 10000);
        camera.position.set(0, 0, 100);
        camera.lookAt(new THREE.Vector3(0, 0, 0));
        const ambientLight = new THREE.AmbientLight(0xffffff);
        scene.add(ambientLight);
        const raycaster = new THREE.Raycaster();
        const mouse = new THREE.Vector2();
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.setClearColor(0xAAAAAA);
        renderer.domElement.addEventListener('click', onDocumentMouseClick, false);
        document.body.appendChild(renderer.domElement);

        //websocket setup
        const socketUrl = 'ws://localhost:8765';
        let socket;
        let reconnectInterval = 1000; //Time in milliseconds to wait before attempting to reconnect

        function connectWebSocket() {
            socket = new WebSocket(socketUrl);

            socket.onopen = function(e) {
                console.log("Connection established");
            };

            socket.onmessage = function(event) {
                console.log(`Data received from server: ${event.data}`);
                if (event.data === "new_shape_available") {
                    checkForNewShapes();
                }
            };

            socket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };

            socket.onclose = function(e) {
                console.log('WebSocket connection closed:', e.reason);
                setTimeout(connectWebSocket, reconnectInterval); //Attempt to reconnect after a delay
            };
        }

        connectWebSocket(); //Initial connection

        //Animate the scene
        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }
        animate();

        //function to load an ascii file, parse it and add it to the scene
        function loadASCIIPointCloud(url) {
            fetch(url)
                .then(response => response.text())
                .then(text => {

                    const geometry = new THREE.BufferGeometry();
                    const vertices = [];
                    const colors = [];
                    let centroid = new THREE.Vector3(0, 0, 0);
                    let pointCount = 0;

                    const lines = text.split('\n');
                    for (let line of lines) {
                        const parts = line.trim().split(/\s+/);
                        if (parts.length === 3 || parts.length === 6) {
                            //Parse XYZ coordinates
                            const x = parseFloat(parts[0]);
                            const y = parseFloat(parts[1]);
                            const z = parseFloat(parts[2]);

                            if (!isNaN(x) && !isNaN(y) && !isNaN(z)) {
                                vertices.push(x, y, z); //Temporarily store the original coordinates
                                centroid.add(new THREE.Vector3(x, y, z));
                                pointCount++;

                                //Parse RGB colors if available
                                if (parts.length === 6) {
                                    const r = parseInt(parts[3]) / 65535;
                                    const g = parseInt(parts[4]) / 65535;
                                    const b = parseInt(parts[5]) / 65535;
                                    colors.push(r, g, b);
                                } else {
                                    colors.push(0, 0, 1); //Default color: blue
                                }
                            }
                        }
                    }

                    //Calculate the centroid
                    centroid.divideScalar(pointCount);

                    //Adjust each point's position relative to the centroid
                    const adjustedVertices = [];
                    for (let i = 0; i < vertices.length; i += 3) {
                        adjustedVertices.push(vertices[i] - centroid.x);
                        adjustedVertices.push(vertices[i + 1] - centroid.y);
                        adjustedVertices.push(vertices[i + 2] - centroid.z);
                    }

                    geometry.setAttribute('position', new THREE.Float32BufferAttribute(adjustedVertices, 3));
                    geometry.setAttribute('color', new THREE.Float32BufferAttribute(colors, 3));
                    const material = new THREE.PointsMaterial({ size: 0.01, vertexColors: true });
                    const pointCloud = new THREE.Points(geometry, material);
                    scene.add(pointCloud);

                    //Set up camera and controls
                    camera.position.set(0, 0, 30);
                    camera.lookAt(new THREE.Vector3(0, 0, 0));
                    const controls = new OrbitControls(camera, renderer.domElement);
                    controls.target.set(0, 0, 0); 
                    controls.update();

                    //Add a grid helper centered at the origin
                    const gridHelper = new THREE.GridHelper(1000, 1000);
                    gridHelper.rotation.x = Math.PI / 2;
                    scene.add(gridHelper);
                });
        }
        
        //function to check for new shapes
        function checkForNewShapes() {
            fetch('/get-latest-shape')
                .then(response => response.json())
                .then(data => {
                    if (data.obj && data.mtl) {
                        let objPath = "static/objects/" + data.obj;
                        let mtlPath = "static/objects/" + data.mtl;
                        let shapeName = objPath.split('/').pop().split('.obj')[0];
                        if (loadedObjShapes.includes(shapeName)) {
                            //console.log('Shape already loaded:', shapeName);
                            return;
                        }
                        else {
                            loadShapeFromOBJ(objPath, mtlPath);
                            loadedObjShapes.push(shapeName); 
                        }
                    }
                })
                .catch(error => console.error('Error checking for new shapes:', error));
        }

        if (autoCheckForNewShapes) {
        // Set interval for polling in ms
        setInterval(checkForNewShapes, 500);
        }

        //Function to load a shape from OBJ and MTL files
        function loadShapeFromOBJ(objPath, mtlPath, shapeName) {
       
            new MTLLoader()
                .load(mtlPath, function (materials) {
                    materials.preload();
                    new OBJLoader()
                        .setMaterials(materials)
                        .load(objPath, function (object) {
                            object.traverse(function (child) {
                                if (child.isMesh) {
                                    //Apply material to both sides
                                    child.material.side = THREE.DoubleSide;
                                }
                            });
                            object.scale.set(1, 1, 1);
                            //object.position.set(0, 0, 0);
                            //object.rotation.x = Math.PI / 2;
                            object.userData.removeOnClear = true;
                            scene.add(object);

                        },
                        function (xhr) {
                            console.log('OBJ' +(xhr.loaded / xhr.total * 100) + '% loaded');
                        },
                        function (error) {
                            console.error('An error happened', error);
                        });
                },
                function (xhr) {
                    console.log('MTL ' + (xhr.loaded / xhr.total * 100) + '% loaded');
                },
                function (error) {
                    console.error('An error happened while loading MTL', error);
                });
        }

        //Event listeners for buttons
        document.getElementById('triangleMarkerBtn').addEventListener('click', () => {
            selectedMarkerType = 'triangle_marker';
            console.log('Triangle Marker selected');
        });

        document.getElementById('complexShapeMarkerBtn').addEventListener('click', () => {
            selectedMarkerType = 'complex_marker';
            console.log('Complex Shape Marker selected');
        });
        document.getElementById('cancelBtn').addEventListener('click', () => {
            selectedMarkerType = 'None';
            console.log('No marker selected');
        });
        document.getElementById('clearBtn').addEventListener('click', () => {
            removeAllObjects();
            console.log('Removed all shapes');
        });

        //Function to remove all objects except the point cloud
        function removeAllObjects() {
            //Create an array to store objects that need to be removed
            const toRemove = [];

            //Iterate over all children of the scene
            scene.traverse(child => {
                if (child.userData.removeOnClear) {
                    toRemove.push(child);
                }
            });

            //Remove the collected objects
            toRemove.forEach(object => {
                scene.remove(object);
                if (object.geometry) object.geometry.dispose(); //dispose geometry
                if (object.material) object.material.dispose(); // dispose material
            });
            loadedObjShapes = []; //Clear the array
        }
        //function to handle mouse clicks
        function onDocumentMouseClick(event) {
            event.preventDefault();

            //Calculate mouse position 
            mouse.x = (event.clientX / renderer.domElement.clientWidth) * 2 - 1;
            mouse.y = -(event.clientY / renderer.domElement.clientHeight) * 2 + 1;

            //Update the picking ray with the camera and mouse position
            raycaster.setFromCamera(mouse, camera);

            //set the plane at z = 0 for raycasting
            const planeZ = new THREE.Plane(new THREE.Vector3(0, 0, 1), 0);
            const targetPoint = new THREE.Vector3();
            raycaster.ray.intersectPlane(planeZ, targetPoint);

            console.log("Clicked coordinates in 3D space:", targetPoint);

            //Send the coordinates, and marker type to the WebSocket server
            if (targetPoint) {
                let message = {
                    x: targetPoint.x, 
                    y: targetPoint.y, 
                    z: targetPoint.z,
                    type: selectedMarkerType  
                };
                socket.send(JSON.stringify({ message}));
            }
        }

        let point_cloud_path = '/static/pointclouds/pointcloud.txt';
        loadASCIIPointCloud(point_cloud_path);

    </script>
</body>

</html>